.forecast {
  background-color: #100e1d;
  position: relative;
}

.default-screen {
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #e7e7eb;
  margin-top: 400px;
}

.future {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 150px;
  margin-left: 150px;
}

.heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #e7e7eb;
  margin: 100px 0px 50px 150px;
}

.highlights {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: min-content min-content;
  gap: 50px;
  margin-left: 150px;
}

.unit-toggle {
  position: absolute;
  top: 42px;
  right: 145px;
}

.unit-toggle input[type="radio"] {
  display: none;
}

.unit-toggle .radio {
  background: #e7e7eb;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.unit-toggle input[type="radio"]:checked + .radio {
  background: #585676;
}

.wait-spinner {
  top: 50%;
  left: 50%;
  position: absolute;
}
